extends layout

block content

  - var hasPopulatePosts = populatePosts.length >= 1
  if hasPopulatePosts
    aside.popular
      h2.popular__title.content-title Trending
      div.popular-slider(style="display:none;")
        each post in populatePosts
          - var postLink = '/post/' + post.id
          div.popular-slider__item
            a(href=postLink).slider-link
              p.slider-link__title #{post.title}
              if post.thumbImg !== null
                img(src=post.thumbImg width="100%" alt=post.title).slider-link__img
              else
                img(src='/images/noimage.png' width="100%" alt=post.title).slider-link__img
  //- popular news list

  - var hasPosts = posts.length >= 1
  if hasPosts
    div.latest
      h2.latest__title.content-title Latest
      ul.latest-list
        each post in posts
          - var postLink = '/post/' + post.id
          li.latest-list__item.media
            a(href=postLink).media__link
              div.media__info
                h3.media__title #{post.title}
                p.media__description #{post.content}
              div.media__img
                if post.thumbImg !== null
                  img(src=post.thumbImg width="100%" alt=post.title)
                else
                  img(src='/images/noimage.png' width="100%" alt=post.title)


