doctype html
html
  head
    title= title
    meta(name="description", content=description)
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(property="og:title" content=title)
    meta(property="og:type" content=ogType)
    meta(property="og:url" content=currentUrl)
    meta(property="og:image" content=ogImageUrl)
    meta(property="og:site_name" content="国内の最新ニュース｜JAPAN-TODAY-NEWS")
    meta(property="og:description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="qY8qVaEOkNi7vcvkrF3yoXZEAH1SWsa45yULIGT4fbs")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald&display=swap")
    link(rel="stylesheet", href="/stylesheets/common.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css", integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv",crossorigin="anonymous")
  body
    header.header
      h1.header-logo
        a(href="/").logo JAPAN-TODAY-NEWS
      div.menu
        div.menu-btn
          span
          span
          span

      //- category navigation
    //- header

    main
      block content
    //- main

    nav.menu-nav
      ul.menu-nav__list
        li.menu-nav__item
          a(href="/category/general/").menu-nav__link General
        li.menu-nav__item
          a(href="/category/entertainment/").menu-nav__link Entertainment
        li.menu-nav__item
          a(href="/category/health/").menu-nav__link Health
        li.menu-nav__item
          a(href="/category/sports/").menu-nav__link Sports
    div.overlay

    footer
      div.copyright
        small © 2020 JAPAN-TODAY-NEWS
    //- footer

    script(src="/javascripts/bundle.js" defer)
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-131601887-3','auto');ga('send','pageview')
    script(src="https://www.google-analytics.com/analytics.js" async defer)
