extends layout

block content
  article.article
    div.article__head
      if post.thumbImg !== null
        img(src=post.thumbImg width="100%" alt=post.title)
      else
        img(src='/images/noimage.png' width="100%" alt=post.title)
      div.article__head__info.info
        h1.info__title #{post.title}
        p.info__author #{post.author}
        - let postDate = post.createdAt.toLocaleDateString("ja-JP")
        p.info__date #{postDate}
    div.article__main
      p.article__main__content #{post.content}
      p.article__main__link
        a(href=post.originUrl target="_blank") 続きはこちら
      //- - let hasComments = comments.length >= 1
      //- if hasComments
      //-   ul.article__main__comment.comment-list
      //-     each comment in comments
      //-       li.comment-list__item.comment-item
      //-         p.comment-item__message #{comment.message}
      //-         div.comment-item__score.comment-score
      //-           div.comment-score__btn
      //-             button(
      //-               data-post-id=post.id
      //-               data-comment-id=comment.id
      //-               data-comment-count=comment.goodCount
      //-             ).comment-score__btn--good
      //-               i.far.fa-thumbs-up
      //-             span.comment-score__btn__count #{comment.goodCount}
      //-           div.comment-score__btn
      //-             button(
      //-               data-post-id=post.id
      //-               data-comment-id=comment.id
      //-               data-comment-count=comment.badCount
      //-             ).comment-score__btn--bad
      //-               i.far.fa-thumbs-down
      //-             span.comment-score__btn__count #{comment.badCount}
      //- else
      //-   p.comment-list--no コメントはまだありません
      //- - let actionUrl = '/post/comment/' + post.id
      //- form(method="post", action=actionUrl).article__main__form.form
      //-   input(type="hidden" name="_csrf" value!=csrfToken)
      //-   textarea(name="message").form__message.message
      //-   button(type="submit").form__submit.submit コメントを書く