extends layout

block content
  article.article
    div.article__head
      if post.thumbImg !== null
        img(src=post.thumbImg width="100%" alt=post.title)
      else
        img(src='/images/noimage.png' width="100%" alt=post.title)
      div.article__head__info.info
        h1.info__title #{post.title}
        p.info__author #{post.author}
        - let postDate = post.createdAt.toLocaleDateString("ja-JP")
        p.info__date #{postDate}
    div.article__main
      p.article__content #{post.content}
      p.article__link
        a(href=post.originUrl target="_blank") 続きはこちら
      div.article__btn.score
        div.score__btn
          button(
            data-post-id=post.id
            data-post-count=post.goodCount
          ).score__btn--good
            i.far.fa-thumbs-up
          span.score__btn__count #{post.goodCount}
        div.score__btn
          button(
            data-post-id=post.id
            data-comment-count=post.badCount
          ).score__btn--bad
            i.far.fa-thumbs-down
          span.score__btn__count #{post.badCount}